@font-face {
  font-family: RobotoRegular;
  src: url('../lib/font/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url('../lib/font/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url('../lib/font/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: RobotoMonoRegular;
  src: url('../lib/font/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoMonoMedium;
  src: url('../lib/font/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoMonoBold;
  src: url('../lib/font/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
