@font-face {
  font-family: RobotoRegular;
  src: url("../lib/font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoMedium;
  src: url("../lib/font/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: RobotoBold;
  src: url("../lib/font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: RobotoMonoRegular;
  src: url("../lib/font/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoMonoMedium;
  src: url("../lib/font/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoMonoBold;
  src: url("../lib/font/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
p {
  text-align: left;
  padding-left: 60px;
  font-size: 28px !important;
  margin: 0 10px; }

pre {
  flex: 1 !important; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
  font-family: 'RobotoMonoMedium', serif !important;
  text-align: left; }

ul {
  list-style: none; }

.inv {
  color: #222; }

.darken30p {
  color: #b3b3b3; }

.codeBlue {
  color: #6969e8 !important; }

.fragment {
  font-family: 'RobotoMonoMedium', serif !important; }

.flex-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1; }
  .flex-col > div {
    margin: 10px; }

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden; }

.arrow {
  display: flex;
  align-items: center;
  justify-content: center; }
  .arrow span {
    padding-bottom: 40px; }

.codesample {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 34px; }

.reveal .slides {
  text-align: left; }
  .reveal .slides .present {
    font-family: 'RobotoMonoRegular', serif;
    font-weight: 300; }
    .reveal .slides .present h1 .curlybrace {
      color: #6969e8; }
    .reveal .slides .present pre {
      box-shadow: none;
      width: auto;
      flex: 1; }
      .reveal .slides .present pre code {
        font-family: 'RobotoMonoMedium', serif;
        overflow: hidden;
        padding: 0 20px; }
  .reveal .slides section {
    overflow: hidden; }
    .reveal .slides section pre.result {
      font-size: 0.45em; }

code {
  font-size: 24px; }

.slides {
  max-width: 1024px !important; }

.arrow-container {
  justify-content: center; }

span {
  display: inline; }

.row {
  -ms-text-align-last: left;
  text-align-last: left; }

ul.dashed {
  list-style-type: none;
  position: relative;
  left: 5px; }
  ul.dashed > li {
    text-indent: -50px; }
  ul.dashed > li:before {
    content: '- ';
    text-indent: -35px;
    color: #6969e8 !important; }

.slide12 {
  text-align: center; }

.slide13 .flex-row img {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=styles.css.map */
